/* App-wide styles */

/* Body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;  
  padding: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: #f4f4f4; 
}

.App {
  text-align: center;
}


.select-button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-button:hover {
  background-color: #0056b3;
}

.back-button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #29d317;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.back-button:hover {
  background-color: #3ea32d;

}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.button-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.button-content p {
  color: white;
}